<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <app-todoform (gettodo)="todoitem($event)"></app-todoform>
    </div>
    <div class="col-md-6">
      <app-todolist [gettodoarray]="todoarray"></app-todolist>

    </div>

  </div>
</div>
<div class="container mt-4 bg-warning">
  <h1 class="bg-success text-center mb-4">form create using single component</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="fname">fname</label>
        <input type="text" #fname class="form-control">
      </div>
      <div class="form-group">
        <label for="lname">lname</label>
        <input type="text" #lname class="form-control">
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" #email class="form-control">
      </div>
      <div class="form-group">
        <label for="contact">contact</label>
        <input type="text" #contact class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="addstd()">Addstudent</button>
      </div>
    </div>
    <div class="col-md-6 bg-info">
      <h3 class="text-center"> stdudent info table </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>sr no</th>
              <th>fname</th>
              <th>lname</th>
              <th>email</th>
              <th>contact</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let std of stdArray;index as i">
              <td>{{i+1}}</td>
              <td>{{std.fname}}</td>
              <td>{{std.lname}}</td>
              <td>{{std.email}}</td>
              <td>{{std.contact}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #nodata>
        <h2>no data add</h2>
      </ng-template>
    </div>
  </div>
</div>


<div class="container mt-4 bg-warning">
  <div class="row">
    <div class="col-md-6">
       <app-stdform (emittdata)="getstddata($event)"></app-stdform>
    </div>
    <div class="col-md-6 bg-info">
     <app-stdtable [getdata]="std2array"></app-stdtable>
    </div>
  </div>
</div>

